*{
    margin: 0;
    padding: 0;
}
$cor_default:darkcyan;
div{
    position: relative;
    box-sizing: border-box;
}
.error-message{
    color: red;
}
/*Pagina Home*/
h1#titulo-trabalho{
    background-color: $cor_default;
    color: white;
    display: inline-block;
    margin-top: 30px;
    padding: 10px 15px;
}
div.container-torres{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-top: 20px;
    div.container-torre{
        display: flex;
        flex-direction: column;
    }
    div.torre{
        display: flex;
        flex-direction: row;
        justify-content: center;
        img{
            width: 160px;
        }
    }
    div.textLabel{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 15px 0 0 0;
        span{
            color: white;
            background-color: darken($cor_default , 10);
            padding: 10px 15px;
        }
        span.span-value{
            background-color: darken($cor_default, 20);
        }
    }

    div.container-load{
        img{
            width: 160px;
        }
    }
}
div.container-acoes{
    margin-top: 20px;
}
div.container-result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    h3{
        color: green;
    }
}